@use '@/assets/styles/colors.scss' as colors;

$margin-default-mobile: 14px;
$margin-default-desktop: 28px;

.product {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 32px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding: 16px 8px;

    &__back {
      color: colors.$text-link;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
    }

    &__breadcrumb {
      flex: 1;
      display: flex;
      list-style: none;

      padding-left: 16px;
      margin-left: 16px;
      color: colors.$text-medium;

      li {
        cursor: pointer;

        &:not(:last-child) {
          &::after {
            content: '>';
            margin: 0 10px;
            cursor: default;
          }
        }
      }
    }

    &__listing-id {
      color: #00000080;
    }
  }

  &__content {
    background: #FFF;

    &__condition {
      color: colors.$text-medium;
      margin: $margin-default-mobile 0;
      font-weight: 300;
      font-size: 15px;
    }

    &__product-name {
      margin-bottom: 8px;
      font-size: 16px;
      color: colors.$text-darker;
      font-weight: 600;
    }

    &__seller {
      margin-bottom: $margin-default-mobile;
      color: colors.$text-medium;
    }

    &__price {
      font-size: 24px;
      font-weight: 400;
      color: colors.$text-darker;
    }

    &__installments {
      color: colors.$text-green;
      margin-bottom: $margin-default-mobile;
      font-weight: 300;
      font-size: 14px;
    }

    &__shipping {
      font-weight: 600;
      color: colors.$text-green;
      font-size: 14px;
      margin-bottom: $margin-default-mobile;
    }

    &__buy-btn {
      margin-bottom: $margin-default-mobile !important;
    }

    &__attribute {
      color: colors.$text-darker;
      font-weight: 300;
      font-size: 14px;

      b {
        font-weight: 400;
      }
    }
  }

  &__divider {
    grid-column: span 2 / span 2;
    height: 1px;
    width: 93%;
    margin-top: 28px;
    background: #E0E0E0;
    border: none;
  }

  &__description {
    grid-column: span 2 / span 2;

    &__title {
      font-size: 16px;
      font-weight: 400;
    }

    &__content {
      font-size: 14px;
      margin-top: 16px;
      font-weight: 400;
      color: colors.$text-medium;
    }
  }
}

@media (min-width: 500px) {
  .product {
    &__header {
      flex-direction: row;
      padding: 30px 0 10px;

      &__breadcrumb {
        border-left: 1px solid #868686;
        font-size: 18px;
        font-weight: 300;
      }

      &__listing-id {
        color: colors.$text-dark;
        font-size: 15px;
        font-weight: 300;

        b {
          font-weight: 400;
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 24px));
      padding: 24px;
      column-gap: 48px;

      &__condition {
        margin: $margin-default-desktop 0;
      }

      &__product-name {
        font-size: 22px;
      }

      &__seller {
        margin-bottom: $margin-default-desktop;
      }

      &__price {
        font-size: 36px;
        margin-bottom: 32px;
      }

      &__installments {
        margin-bottom: $margin-default-desktop;
        font-size: 18px;
      }

      &__shipping {
        margin-bottom: $margin-default-desktop;
        font-size: 18px;
      }

      &__buy-btn {
        margin-bottom: $margin-default-desktop !important;
      }

      &__attribute {
        font-size: 18px;
      }
    }

    &__description {
      padding: $margin-default-desktop 0;

      &__title {
        font-size: 22px;
      }

      &__content {
        font-size: 18px;
        margin-top: 16px;
      }
    }
  }
}