$primary-color: #ffe600;

$text-darker: #000000e6;  // rgba(0,0,0, .9);
$text-dark: #000000cc;  // rgba(0,0,0, .8);
$text-medium: #0000008c; // rgba(0,0,0, .55);
$text-green: #00A650;
$text-link: #3483fa;

$hover-blue: #007aff;