@use '@/assets/styles/fonts.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBEBEB;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
